*~
._*

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### CMake ###
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
CPackSourceConfig.cmake
CPackConfig.cmake
CTestTestfile.cmake
Testing/

# Objects
test/SimpleMemory_testbench
